body,
html {
  height: 100%;
  width: 100%;
  background-color: #022763;
  font-family: 'VT323', monospace;
  margin: 0;
}

.diff-selector {
  margin-top: 0;
  float: right;
  overflow: auto;
  margin-right: 5px;
}

.title {
  display: inline-block;
  margin-top: 7px;
  margin-left: 400px;
  font-size: 36px;
}

.header {
  height: 50px;
  width: 900px;
  margin: auto;
  background-color: black;
  color: white;
}

#test {
  transition: transform .1s ease-in-out;
  height: 40px;
  width: 40px;
}

#canvas {
  height: 680px;
  width: 900px;
  margin: auto;
  position: relative;
}

#field {
  height: 680px;
  width: 900px;
}

#easy {
  color: #4def1c;
}

#easy,
#medium,
#hard {
  cursor: pointer;
}
